1.  Formatted data types
2.  Lists
3.  Tuples
4.  Dictionaries
5.  if-else
6.  Loops
7.  Functions
8.  Strings
9.  OOPS
10. Set

# just another novice

In [1]:
print("3 + 5 = ", 3+5)
print("3 / 5 = ", 3/5)
print("3 ^ 5 = ", 3**5)
print("5 % 3 = ", 5%3)
print("3 // 5 = ", 3//5)
print("5 // 3 = ", 5//3)

3 + 5 =  8
3 / 5 =  0.6
3 ^ 5 =  243
5 % 3 =  2
3 // 5 =  0
5 // 3 =  1

# formatted datatypes

In [31]:
a = "A"
print("%s wants to perform in a space related environment & "%(a), end="")

age = 21.5
print("B is %0.2f years old."%(age))

print("%s is a dog of age %d."%(a, age/7)) 

print("{} is a cat of age {}.".format(a, int(age/3))) 

#By default 1st {} -> 0 & 2nd {} -> 1
print("{1} is a cat of age {0}.".format(a, int(age/3))) 

#f string
print(f"{a} is a cat of age {int(age/3)}.")

A wants to perform in a space related environment & B is 21.50 years old.
A is a dog of age 3.
A is a cat of age 7.
7 is a cat of age A.
A is a cat of age 7.

In [3]:
print("I will become a better person\n" *4)

I will become a better person
I will become a better person
I will become a better person
I will become a better person

# Lists [ ]

In [4]:
fruits = ["apple", "banana", "mango", "cherries", "blue berries", "cantaloupe", "melon"]

print(fruits)
print(fruits[0])
print(fruits[0][0])
print(fruits[-1])

fruits.append("pear")
print(fruits)

fruits[3] = "cherry"
print(fruits)

['apple', 'banana', 'mango', 'cherries', 'blue berries', 'cantaloupe', 'melon']
apple
a
melon
['apple', 'banana', 'mango', 'cherries', 'blue berries', 'cantaloupe', 'melon', 'pear']
['apple', 'banana', 'mango', 'cherry', 'blue berries', 'cantaloupe', 'melon', 'pear']

In [5]:
print(fruits[1:])
print(fruits[2:-2])
print(fruits[1:3])

fruits.insert(3, "watermelon")
fruits.remove("blue berries")
print(fruits)

['banana', 'mango', 'cherry', 'blue berries', 'cantaloupe', 'melon', 'pear']
['mango', 'cherry', 'blue berries', 'cantaloupe']
['banana', 'mango']
['apple', 'banana', 'mango', 'watermelon', 'cherry', 'cantaloupe', 'melon', 'pear']

In [6]:
fruits.reverse()
print(fruits)

['pear', 'melon', 'cantaloupe', 'cherry', 'watermelon', 'mango', 'banana', 'apple']

In [7]:
veggies = ["potato", "cucumber", "radish"]
print(fruits[2:5] + veggies)

['cantaloupe', 'cherry', 'watermelon', 'potato', 'cucumber', 'radish']

In [8]:
print(max(veggies)) 
print(min(veggies))

radish
cucumber

# Tuples ( )

In [9]:
squares = ((1,1), (2,4), (3,9))
print(squares)
print(squares[1:])
print(squares[0])
print(squares[2][1])

((1, 1), (2, 4), (3, 9))
((2, 4), (3, 9))
(1, 1)
9

# Dictionaries { : }

In [1]:
ascii_code = { 'a' : ord('a'),
               'b' : ord('b'),
               'c' : ord('c'),
               'd' : ord('d')}

In [2]:
print(ascii_code['b'])
print(ascii_code.get('a'))
print(ascii_code.keys())
print(ascii_code.values())

type(ascii_code.keys())

98
97
dict_keys(['a', 'b', 'c', 'd'])
dict_values([97, 98, 99, 100])

dict_keys

In [9]:
sounds = {
            'cat' : 'meow',
            'dog' : 'bark',
            'snake' : 'hiss',
            'cows' : 'moo'
           }

In [10]:
sounds['snake'] = 'piss'

In [12]:
sounds.pop('snake')

'piss'

In [13]:
sounds

{'cat': 'meow', 'dog': 'bark', 'cows': 'moo'}

In [14]:
sounds.update({'snake' : 'hiss'})

In [15]:
sounds

{'cat': 'meow', 'dog': 'bark', 'cows': 'moo', 'snake': 'hiss'}

# if-else

In [18]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
marks = int(input("Enter your marks: "))

if (marks >= 90):
    print("Grade : A")
    
elif (marks>=80 and marks<90):    
    print("Grade : B")

elif (marks>=70 and marks<80):    
    print("Grade : C") 
 
else:
    print("Grade : D")

Enter your name: paul
Enter your age: 19
Enter your marks: 89
Grade : B

# Loops

In [15]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [19]:
for key in ascii_code.keys():
    print(key, ascii_code[key])

a 97
b 98
c 99
d 100

In [28]:
list1 = [[23,34,11], 
         [55,32,12],
         [59,40,61]]

list2 = [21,33,54,64,12]

In [29]:
#for loop
for i in num:
    print(" ")
    for j in i:
        print(j," ",end="")

23  34  11
55  32  12
59  40  61

In [32]:
#while loop
number = int(input("Enter a number: "))

while (number > 4):
    number = int(input("number greater than 4\n enter again: "))

Enter a number: 34
number greater than 4
 enter again: 44
number greater than 4
 enter again: 21
number greater than 4
 enter again: 434
number greater than 4
 enter again: 4

# Functions

In [34]:
def avg(num1, num2):
    return (num1+num2)/2

print(avg(3,5))

4.0

# Strings

In [26]:
string = "this is me ."

print(string.find("is"))
print(string.capitalize())
print(string[:-3])
print(string.split(" "))
print(("#").join(string))
print(string.upper())
print(string.lower())

2
This is me .
this is m
['this', 'is', 'me', '.']
t#h#i#s# #i#s# #m#e# #.
THIS IS ME .
this is me .

In [19]:
string2 = "      extra space   "

print(string2)
print(string2.strip())

      extra space
extra space

In [21]:
string3 = "Asia, America, Europe"
print(string3.replace(",", ""))

Asia America Europe

# File Handling

In [62]:
file1 = open("practice1.txt", "wb")

print(file1.name)
print(file1.mode)

file1.write(bytes("Stuff was added to this file :)", "UTF-8"))
file1.close()

practice1.txt
wb

In [66]:
file2 = open("practice1.txt", "r+")

print(file2.read())

file2.close()

Stuff was added to this file :)
This file was opened again but not in notebook yikes

# Sets { }

In [5]:
set_list = { 1,3,2,1,3,1,4,5,2,4,2,4,6,6,5}

print(set_list)

{1, 2, 3, 4, 5, 6}

In [6]:
set_list.add(23) #to add one no.
set_list.update([32,5343,12,545,21,12,21,21,13,4]) #to multiple no.s

print(set_list)

{1, 2, 3, 4, 5, 6, 12, 13, 21, 23, 5343, 32, 545}

In [7]:
set_list.remove(12)    #if the no. is present then removes it otherwise gives error
set_list.discard(333)  #if the no. is present then removes it otherwise no action

print(set_list)

{1, 2, 3, 4, 5, 6, 13, 21, 23, 5343, 32, 545}

In [11]:
set_list.pop()
print(set_list)

set_list.clear()
print(set_list)

{3, 4, 5, 6, 13, 21, 23, 5343, 32, 545}
set()